@model IEnumerable<WeConnect.ViewModels.ConversationViewModel>
@{
    ViewData["Title"] = "Chat";
}

<div id="mySidenav" class="sidenav">
    <a href="/Account/Index" id="mypage"><img src="https://i.imgur.com/ZKWyvlp.png" id="icon"><br>My Page</a>
    <a href="/Account/myfriends" id="myfriends">My Friends</a>
       <a href="/Chat/Index" id="myconversations">My Conversations</a>
    <a href="/Account/mymeetings" id="mymeetings">My Meetings</a>
</div>

<div id="myRightSidenav" class="rightsidenav">
    <a href="/Account/search" id="search">Search</a>
    <a href="/Account/signout" id="signout">Sign out</a>
</div>

<h3 id=friendsh3>My Conversations</h3>

@foreach (var item in Model)
{
    <a asp-controller="Chat" asp-action="Conversation" asp-route-id="@item.ID">
        <div class="container">
            <a href="Conversation" id="friendsLinks">
                @Html.DisplayFor(x => item.ParticipantsNames)
            </a>
        </div>
    </a>
}

@* <img
src="https://lh3.googleusercontent.com/l58RARGXRY8rv0DoZlsYUyQbkk0YVKDUaduieG-n1ugeIyEX9jsQei-mlOB6WS10UYwTjbN2DNgEpAUHdXc7VEI6i99aQfodixPvy-coobhngUFI6MgYgF8V0eeo7BYH7kE4d3IYRdVaBvsYnafMIAg6Chkg-0gl_VTX_z13lTtnakkx0qA8bfOTDTUQdQqYc3Jt7wyaHAsS9j3cbGhA6gPvr81t0Ek4_UcGkuFkwNDky3cTuKbNqj0YL8y171MvjIR3mPef6OrDPRgB4BLBR7IszaqxFDfXqqZbz4zRn1X418MeQorFQ30o5xpVsiO-fYzw9cX4tr-DxdNzHDRW5c8hD6AZ13yhCmHqIU7ge04HkHfaVahJvHIsMpaEOkBdqYTNIer1k_urqqSkT_8DylyBfKWdl6UyE7Q_zboZOUSIwRaCS8uZE2-SgDBs2nwH2Nbk_WQtPLXlVkFrvYUcP6gRbRH9cm-m1OiaXSscQeeOnFmQgFwma4dXfuDNPV2c5gXc8FtBWzJIOTXXLWPGPhIIfoqzlt3zlON4_JKLVnLE-nCJ3QwrizokJmMzd7j2pl6mx0YtGy--Y8Hd04JsXeznmLWtY8Zazhw6DK6pNdfhGvPBc4YGDyMLfeflpPvF7UHqPlthn89RYpc72MTJpt4P2kXBQK8rw0Rkzj0e91v9esE6QfaBS1ZE3sn3hLNfX0vRK-D8gCgAwkPQZBlSU8sypqm8ax5lrGsbEjr9wjEYEeREMewEUhjbx0DU6Up5rHYntnfZ9kSs33XYcE-_wDDfGKI3-l0SEZArVXeC9GnfegsujE-ZV9NjjQHhMvsriUUlTnZIkDFHHtHCl-TudvffLqUFZuO_q1Ere2OAmCeQawGOzwG_vPTkgcLBNrN6fnQGTKJshohOBSjsqOBDpI6LGisi1mILs3_GXkjLBQX_khyYEQ=w509-h902-no?authuser=0">
*@