@model WeConnect.ViewModels.HomePageViewModel
@{
    ViewData["Title"] = "My Page";
}

<p id=welcome> Welcome home @Model.FirstName!</p>

<div id="mySidenav" class="sidenav">
    <a href="/Account/myfriends" id="myfriends">My Friends</a>
    <a href="/Account/chat" id="myconversations">My Conversations</a>
    <a href="/Account/mymeetings" id="mymeetings">My Meetings</a>
</div>


<div id="myRightSidenav" class="rightsidenav">
    <a href="/Account/search" id="search">Search</a>
    <a href="/Account/signout" id="signout">Sign out</a>
</div>

