@model List<WeConnect.ViewModels.FriendViewModel>
@{
    ViewData["Title"] = "Friends";
}

<div id="mySidenav" class="sidenav">
    <a href="/Account/Index" id="mypage"><img src="https://i.imgur.com/ZKWyvlp.png" id="icon"><br>My Page</a>
    <a href="/Account/myfriends" id="myfriends">My Friends</a>
    <a href="/Chat/Index" id="myconversations">My Conversations</a>
    <a href="/Account/mymeetings" id="mymeetings">My Meetings</a>
</div>

<div id="myRightSidenav" class="rightsidenav">
    <a href="/Account/search" id="search">Search</a>
    <a href="/Account/signout" id="signout">Sign out</a>
</div>

<h3 id=friendsh3>My Friends</h3>

<div class="profiles">
@foreach (var item in Model)
{
        <li id="myfriends-list">
            <a asp-controller="Profile" asp-action="ShowProfile" asp-route-id="@item.ID">

                @if (item.ProfilePhoto.ImageUrl == null)
                {
                    <img src="https://i.imgur.com/ZV3o91c.jpg" id="allFriendsPhotos">
                }
                else
                {
                    <img src="@Html.Raw(item.ProfilePhoto.ImageUrl)" id="allFriendsPhotos">
                }
                @Html.DisplayFor(x => item.FirstName)
                @Html.DisplayFor(x => item.LastName)

            </a>
        </li>
}
 </div>

