@model List<WeConnect.Models.FriendViewModel>
@{
    ViewData["Title"] = "My Page";
}

<div id="mySidenav" class="sidenav">
    <a href="/Account/myfriends" id="myfriends">My Friends</a>
    <a href="/Account/myconversations" id="myconversations">My Conversations</a>
    <a href="/Account/mymeetings" id="mymeetings">My Meetings</a>
</div>

<div id="myRightSidenav" class="rightsidenav">
    <a href="/Account/search" id="search">Search</a>
    <a href="/Account/signout" id="signout">Sign out</a>
</div>

@foreach (var item in Model)
{
    <div class="container">
        <li>
            <a href="Profile/blabla?" id="friendsLinks"> 
            @Html.DisplayFor(x => item.FirstName)
            @Html.DisplayFor(x => item.LastName)
            </a>
        </li>
    </div>

}

