@model List<WeConnect.ViewModels.FriendViewModel>
@{
    ViewData["Title"] = "Search";
}

<div id="mySidenav" class="sidenav">
    <a href="/Account/myfriends" id="myfriends">My Friends</a>
      <a href="/Chat/Index" id="myconversations">My Conversations</a>
    <a href="/Account/mymeetings" id="mymeetings">My Meetings</a>
</div>

<div id="myRightSidenav" class="rightsidenav">
    <a href="/Account/search" id="search">Search</a>
    <a href="/Account/signout" id="signout">Sign out</a>
</div>

<h3 id=friendsh3>Find people to connect with</h3>

<form id=search-form method="post" action="Search">
    <h4>Search:</h4> <input type="text" name="search" />
    <input type="submit" id=search-button value="Search" />
</form>

@if(Model != null)
{
    @foreach (var item in Model)
    {
          <a asp-controller="Profile" asp-action="ShowProfile" asp-route-id="@item.ID">
        <li>
            @if(item.ProfilePhoto == null || item.ProfilePhoto.ImageUrl == null)
            {
                <img src="https://lh3.googleusercontent.com/sMrevMJlVrUL0vk7mVGQNd69l2rJYAfdG4lGTcVId5s8pRnXYO8mTi9cVddmA5SGdWekKgKsJFKZDlQYvzsw0vUewIq0sRg9ao1EYajHCrofSxAkUgpwkUgQY6TNUvdnsVN3PHqffSWpYxOfKrYWUHiUnRXRQeVRSGmOrlWJLJhMkDq4JLmDywRFvderNIUaXlY_yZcsRq3nRa16Oo4cMKCgsjkrorwgaEF99a8BmzzunsHihVvnW6T3yDWYCS3M3zfzYDCRv6ijF5STFHgT8sD-9XCSp38YV0-MdP2koGuPTjALnIaYMwpB9nJ75kV5arUjIy05o65uuGULQdak9crqs7YxWBLF5QlLLDzcTOs1ItfNmkMnEx8gU2mysLp1E4OTWK3IEpvPNvgkNAhR3GrIAYrQfnIeQ93BQqBnk-VVE1jB1VtI4o9k5dVNEKJpUz4L40KoNWUoCcYMGPch6rMR9BgTX2DxCtXTK4Jf5RPU-6sUZfVPI2hq69xGxw-X5qctY4OZ7sflZTlJCOwHdE-fReUn6UMU7vWsDcLkGcQc6vQmAj2Ahzd7Mi9UWylmBivXZbB5O_XJjladYYjj4sblstzg9fYD-BMa67xIbgK9KpnX4poi8s1SlZpkQ4rbRXysApw6RB5njRz0PNGHamnex0b6U5ZgwX8Z0tn-xXwmDlORzTDuNili5PzlX1GsbdSVTUKTbbXAkT_SeZ0k9McnPf0id9dkqy1DuST3AbTGwomVepSWItCT5mRFPwBIURMMkB6Bm98D7u9dgf45ydOe57TQf2bXQ13aqWqU46c-4z7TByJuRIhHt6moSR82DvoSMRRzPFy2RAvam-d1RMwSrPITkIW2Qd6LP6tEsrGg3Zfddrkl1VICFusLUfNnFkAbeUtYA_bGQpAgQxO4Tag1rByGRNkKNr3RAYU4wQc_=s512-no?authuser=0" id="profilePhoto">
            }
            else
            {
 <img src="@Html.Raw(item.ProfilePhoto.ImageUrl)" id="allFriendsPhotos">

            }
            @Html.DisplayFor(x => item.FirstName)
            @Html.DisplayFor(x => item.LastName)
        </li>
    </a>
    }
}