@{
    ViewData["Title"] = "WeConnect";
}

<div id="mySidenav" class="sidenav">
    <a href="Home/SignIn" id="signin">Sign In</a>
    <a href="Home/SignUp" id="signup">Sign Up</a>
    <a href="Home/Contact" id="contact">Contact</a>
</div>




