@model WeConnect.Models.User
@{
    ViewData["Title"] = "WeConnect";
}
<h1>Sign in</h1>


<form method="post" action="Home/SignIn">
    Email: <input type="email" name="Email" />
    Password: <input type="password" name="Password" />
    <input type="submit" value="Logga in" />
</form>



