@model WeConnect.Models.User
@{
    ViewData["Title"] = "WeConnect";
}

<div id="mySidenav" class="sidenav">
    <a href="/Home/SignIn" id="signin">Sign In</a>
    <a href="/Home/SignUp" id="signup">Sign Up</a>
    <a href="/Hpme/Contact" id="contact">Contact</a>
</div>

<form id=signin-form method="post" action="SignIn">
    <h4>Email</h4> <input type="email" name="Email" />
    <h4>Password </h4><input type="password" name="Password" />
    <input type="submit" id=signin-button value="Logga in" />
</form>
